[user]
	name = Łukasz Flisak
	email = lu.dev00@gmail.com
    signingkey = 0B65231372A7C76F
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[merge]
	conflictstyle = diff3
