[user]
	name = Łukasz Flisak
	email = lu.dev00@gmail.com
    signingkey = 0F4CEAE8960B52BF
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[merge]
	conflictstyle = diff3
