@define-color rosewater #dc8a78;
@define-color flamingo #dd7878;
@define-color pink #ea76cb;
@define-color mauve #8839ef;
@define-color red #d20f39;
@define-color maroon #e64553;
@define-color peach #fe640b;
@define-color yellow #df8e1d;
@define-color green #40a02b;
@define-color teal #179299;
@define-color sky #04a5e5;
@define-color sapphire #209fb5;
@define-color blue #1e66f5;
@define-color lavender #7287fd;
@define-color text #4c4f69;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

window#waybar {
    background: transparent;
    color: @text;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 11px;
}

.modules-left,
.modules-right {
  margin: 5px 0;
}

#workspaces, #language, #backlight, #pulseaudio, #clock, #battery, #disk, #network {
    padding: 0 8px;
    margin: 0 3px;
    color: @text;
    border-radius: 2px;
    border: 2px solid @text;
    color: @base;
}

#workspaces {
  padding: 0;
  border: none;
}

#workspaces button {
    padding: 0 5px;
    margin: 0;
    font-weight: bold;
    color: @base;
    border: 2px solid @base;
    border-color: transparent;
    border-radius: 2px;
}
#workspaces button.focused { border-color: @text }
#workspaces button.persistent { color: @subtext0; }

