@define-color primary #b8bb26;
@define-color background #1d2021;
@define-color foreground #fbf1c7;
@define-color active #fb4934;


window#waybar {
    background-color: @background;
    color: @foreground;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}



#workspaces button { padding: 0; margin: 0 5px; color: @foreground;}
#workspaces button.focused { color: @primary; }
#mpd { color: @color3; margin-left: 10px;}
#pulseaudio, #clock, #battery, #disk, #network { padding: 0 5px; }
