@import url('./pywal.css');

window#waybar {
    background-color: transparent;
    color: @foreground;
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 12px;
}

.modules-left, .modules-center {
    background: transparent;
}

#mpd {
    margin-left: 5px;
    padding: 0 8px;
    background-color: @color3;
    color: @background;
}

#workspaces button {
    padding: 0 8px;
    margin: 0;
    color: @foreground;
    background: @background;
    border-radius: 0;
    font-weight: bold;
}
#workspaces button.focused { 
    background-color: @color3;
}

#language, #backlight, #pulseaudio, #clock, #battery, #disk, #network {
    padding: 0 8px;
    margin: 0 5px;
    background: @color3;
    color: @background;
    border: 1px solid @background;
}

#clock, #language, #backlight, #disk {
    color: @foreground;
    background: @background;
}


#clock {
    margin: 0;
    background: @background;
    color: @foreground;
    border: 1px double @foreground;
}
