#window {
    color: #4c4f69;
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
}

#outer-box {
    border: 0;
    margin: 0;
}

#inner-box {
    background: #eff1f5;
    border-radius: 5px;
    border: 3px solid #4c4f69;
}

#input {
    background: #eff1f5;
    color: #4c4f69;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
    border: 3px solid #4c4f69;
}

#entry {
    padding: 8px 16px;
    margin: 0;
}

#entry:selected {
    background-color: #4c4f69;
    color: #eff1f5;
}
